.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #e9bcbc;
  color: #fff;
}

.navbar-left {
  display: flex;
  align-items: center;
}
.logout{
  cursor: pointer;
}
.btn1{
  color: green;
  cursor: pointer;  
  background-color: goldenrod;
}

.logo {
  margin-right: 1rem;
  border-radius: 10px;
}

.logo img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.navbar-left ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-left li {
  margin-right: 1rem;
  font-size: 25px;
}

.navbar-left a {
  color: #fff;
  text-decoration: none;
}

.icons {
  margin-left: 1rem;
}

.icons i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-right li {
  margin-right: 1rem;
  font-size: 16px;
}

.navbar-right a {
  color: #fff;
  text-decoration: none;
}